/*____________________

      RESET
_____________________*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*____________________

      COMMON
_____________________*/
body{
    background: linear-gradient( #009688 50%, #dcdbd1 50%);
    background-position-y:-330px ;
    background-repeat: no-repeat;
    background-color: #dcdbd1;
}
.container {
    height: calc(100vh - 50px);
    width: 1280px;
    display: flex;
    margin: auto;
    margin-top: 25px;
    
    background-color: #fafafa; 
}
i {
    color: #b1b1b1;
    margin-right: 15px;
}
/*____________________

      FONTS
_____________________*/
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/*____________________

      LEFT-CHAT
_____________________*/
.left-chat {
    width: 40%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d6d6d6; 
}
.left-chat > *{
    width: 100%;
}
.left-chat-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.your-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic {
    width: 50px;
    height: 50px;
    
}
.profile-pic img{
    display: block;
    max-width: 100%;
    border-radius: 50%;
}
.profile-name {
    display: inline-block;
    margin-left: 5px;
}
.left-chat-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.notify-handler { 
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: 10px;
}
.notify-toggle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f2fbff;
    font-size: 25px;
    padding: 12px 15px;
}
.notify-toggle i {
    color: #8edafc;
}
.notify-helper a {
    margin-left: 10px;
    color: #4f7485;
}
.notify-helper span {
    margin-left: 10px;
}
/*____________________

      CHAT-SEARCH
_____________________*/
.chat-search {
    padding: 10px 5px;
}
.chat-search form {
    color: #555;
    display: flex;
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 5px;
}
input[type="search"] {
    width: 100%;
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}
button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}
button[type="submit"]:focus, input[type="search"]:focus {
    box-shadow: 0 0 3px 0  #009688;
    border-color: #009688;
    outline: none;
}

button[type="submit"]:hover {
    opacity: 1;
}
/*____________________

      CONTACTS-CHAT
_____________________*/
.contacts-chat {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacts-chat .profile-pic {
    width: 60px;
    height: 60px;
    
}
.contacts-chat .contact-card {
    display: flex;
    padding: 10px 0;
    overflow-y: auto;

}
.contacts-chat .profile-name {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 20px;
}
.contacts-chat .profile-name span {
    color: #c1b9c0;
    font-size: 13px;
    font-weight: 100;
}
.contact-card .last-message-date {
    margin-left: auto;
    color: #c1b9c0;
    font-size: 13px;
    font-weight: 100;
}
.active {
    background-color: gainsboro;
}
/*____________________

      RIGHT-CHAT
_____________________*/
.right-chat {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("../img/mine.jpg");
}
.right-chat-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: #fafafa;
}
.right-chat .your-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
}
.right-chat span{
    color: #c1b9c0;
    font-size: 13px;
    font-weight: 100;
}
.right-chat-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.messages{
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; 
}

.message-container {
    width: 100%;
    flex-grow: 1;

}
.message{
    position: relative;
    width: 40%;
    background-color: white;

    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.message.sent {
    background-color: #d5f9ba;
    margin-left: auto;
}    
.message-data {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 11px; 
    color: #c1b9c0;
}
.right-chat-footer {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    height: 70px;
    background-color: #f3eeea;
    margin-top: auto;
}
.right-chat-footer i{
    text-align: center;
    margin-left: 10px;
}

.col-small{
    width: 10%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-msg {
    border: 0;
    border-radius: 6px;
    width: 100%;
    height: 70%;
    flex: 1 1 auto;
    font-size: 16px;
    margin: 0;
    outline: none;
    min-width: 50px;
  }